@{
    ViewData["Title"] = "Home Page";
}

@model MattsBookStore.Models.ViewModels.BooksListViewModel

<h1>Matt's Book Store</h1>

<ul>
    @foreach (Books b in Model.Books)
    {
        <partial name="BookSummary" model="b" />
    }
</ul>


<nav aria-label="Page navigation example">
    <ul class="pagination">
        @for (int i = 1; i <= Model.PaginationInfo.TotalNumPages; i++)
        {
            <li class="page-item @(i == Model.PaginationInfo.CurrentPage ? "active" : "")">
                <a class="page-link" href="@Url.Action("Index", new { PageNum = i })">@i</a>
            </li>
        }
    </ul>
</nav>
